---
const {
  question,
  answer1,
  answer2,
} = Astro.props


---

<div class="accordion2">
  <div class="question">
    <div class="wrapper">
      <p>Q</p>
      <p>{ question }

      </p>
    </div>
    <span></span>
  </div>
  <div class="answer">
    <p>A</p>
    <p>{ answer1 }<br>{ answer2 }
    </p>
  </div>
</div>

<style>
  .accordion2 {
    cursor: pointer;
    border-bottom: 1px solid black;
    padding-inline: 8px;
  }

  .question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .question p {
    padding-inline-end: 8px;
    font-weight: bold;
    line-height: 300%;
  }

  .wrapper {
    display: flex;
    flex-direction: row;

  }
  .question.open  span {
    transform: rotate(225deg);
  }

  span {
    color: var(--textBlack);
    cursor: pointer;
    display: block;
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 2px solid var(--textBlack);
    border-right: 2px solid var(--textBlack);
    content: "";
    transition: transform .5s;
  }

  .answer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    line-height: 0%;
    opacity: 0;
    transition: all .5s;
  }

  .answer.open {
    opacity: 1;
    line-height: 300%;
    transition: all .5s;
}
.answer p {
  padding-inline-end: 8px;
}
</style>

<script>
  // const accordion2 = document.querySelectorAll(".accordion2");
  const question = document.querySelectorAll(".question");
  const answer = document.querySelector(".answer");


  question.forEach(question => {
    question.addEventListener("click", function() {
    // accordion2.classList.toggle("open")
    question.classList.toggle("open")
    answer.classList.toggle("open")
  })
  });
</script>
