---

---

<div class="accordion">
  <div class="question">
    <div class="wrapper">
      <h3>Q</h3>
      <p>
        <slot name="question" />
      </p>
    </div>
    <span></span>
  </div>
  <div class="answer">
    <h3>A</h3>
    <slot name="answer" />
  </div>
</div>

<style>
  .accordion {
    border-bottom: 1px solid var(--gray-25);
    padding-inline: 8px;
    width: 100%;
  }

  .question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  .question p {
    padding: 16px 8px 16px 0px;
    line-height: 150%;
  }
  .question.is-open .arrow {
    transform: rotate(225deg);
  }
  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
  }

  h3 {
    font-family: "Noto Serif JP", serif;
    font-weight: normal;
    padding-right: 8px;
  }
  .question.is-open span {
    transform: rotate(225deg);
  }

  span {
    color: var(--textBlack);
    cursor: pointer;
    display: block;
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 1px solid var(--textBlack);
    border-right: 1px solid var(--textBlack);
    content: "";
    transition: all 0.5s;
  }

  .answer {
    display: flex;
    flex-direction: row;
    opacity: 0;
    overflow: hidden;
    line-height: 0%;
    padding-top: 0px;
    padding-bottom: 0px;
    transition: all 0.5s;
  }

  .answer.is-open {
    overflow: visible;
    opacity: 1;
    line-height: 250%;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all 0.5s;
  }
</style>

<script>
  const question = document.querySelectorAll(".question");

  function toggle() {
    const answer = this.nextElementSibling;
    this.classList.toggle("is-open");
    answer.classList.toggle("is-open");
  }

  for (let i = 0; i < question.length; i++) {
    question[i].addEventListener("click", toggle);
  }
</script>
