---

---

<details class="accordion">

  <summary>男性でも施術を受けられますか？</summary>

  <p>
    <span>老若男女、お子様も施術可能です。</span><br>
    お客様の症状に合わせた内容をご提案、ご提供させていただきます。
  </p>
</details>
<details class="accordion">
  <summary>当日予約はできますか？</summary>
  <p>
    <span>前日までの完全ご予約制となっております。</span><br>
    当日のご予約も空き状況によりご案内可能です。<br>
    ご来店前にお電話にてご確認ください。<br>
    また、週末のご予約は前もって集中することもございます。<br>
    お早めのご予約をお勧めいたします。
  </p>
</details>

<style>
  .accordion {
    /* display: flex; */
    max-width: 640px;
    width: 100%;
    border-bottom: 1px solid var(--gray-50);
    /* justify-content: space-between; */
  }

  /* .title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  } */

  /* summary::-webkit-details-marker {
  display: none;
} */

  summary {
    display: block;
    padding: 24px 0;
    color: var(--textBlack);
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
  }

  summary::before {
    content: "Q";
    margin-right: 8px;
  }

  summary::after {
    margin-left: 10px;
    border-bottom: 2px solid var(--textBlack);
    /* border-right: 2px solid var(--textBlack); */
    content: "";
    transition: transform 1s;
  }

  .accordion[open] summary::after {
    transform: translateY(30%)  rotate(45degdeg);
  }

  .accordion p {
    font-size: 1.6rem;
    transform: translateY(-10px);
    margin: 0;
    padding-left: 22px;
    padding-bottom: 24px;
    line-height: 1.5;
    height: 0;
    transition: transform 1s, height: 10s;
  }

  .accordion p::before {
    content: "A";
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: -21px;
    margin-right: 4px;
  }

  .accordion[open] p {
    transform: none;
    height: auto;
  }

</style>
