---
// const {
//   summary,
//   answer,
//   } = Astro.props


---
<!--
<details class="accordion">
  <summary>{ summary }<span></span></summary>
  <p>{ answer }</p>
</details> -->

<details class="accordion">
  <summary>Q 当日予約はできますか？<span></span></summary>
  <p>
    <span class="bold">前日までの完全ご予約制となっております。</span><br>
    当日のご予約も空き状況によりご案内可能です。<br>
    ご来店前にお電話にてご確認ください。<br>
    また、週末のご予約は前もって集中することもございます。<br>
    お早めのご予約をお勧めいたします。
  </p>
</details>

<style>
  .accordion {
    max-width: 640px;
    width: 100%;
    border-bottom: 1px solid var(--gray-50);
  }

  .accordion[open] {
  }

  summary::-webkit-details-marker {
  display: none;
}

  summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 24px 0;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
  }
  summary>span {
    color: var(--textBlack);
    cursor: pointer;
  }
  summary>p {
    text-align: left;
    line-height: 0;
    opacity: 0;
    transition: opacity 2s line-height 2s;
  }

  summary>span {
    display: block;
    transform: translateY(-25%) rotate(45deg);
    width: 8px;
    height: 8px;
    margin-left: 10px;
    border-bottom: 2px solid var(--textBlack);
    border-right: 2px solid var(--textBlack);
    content: "";
    transition: transform .5s;
  }

  .accordion[open] summary>span {
    transform: rotate(225deg);
  }

  .accordion p {
    font-size: 1.6rem;
    padding-left: 22px;
    padding-bottom: 24px;
    line-height: 1.5;
    height: 0;
    opacity: 0;
    transition: opacity 2s;
  }

  .accordion[open] p {
    line-height: 1.5;
    opacity: 1;
    transition: opacity 2s line-height 2s;
  }

  .accordion p::before {
    content: "A";
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: -21px;
    margin-right: 4px;
  }


</style>
