---

---

<div class="accordion2">
  <div class="question">
    <div class="wrapper">
      <h3>Q</h3>
      <p>
        <slot name="question" />
      </p>
    </div>
    <span></span>
  </div>
  <div class="answer">
    <h3>A</h3>
      <slot name="answer"/>
  </div>
</div>

<style>
  .accordion2 {
    cursor: pointer;
    border-bottom: 1px solid var(--gray-25);
    padding-inline: 8px;
    width: 100%;
  }

  .question {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .question p {
    padding: 16px 8px 16px 0px;
    line-height: 150%;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: first baseline;
  }

  h3 {
    font-weight: normal;
    padding-right: 8px;
  }
  .question.is-open  span {
    transform: rotate(225deg);
  }

  span {
    color: var(--textBlack);
    cursor: pointer;
    display: block;
    transform: translateY(-25%) rotate(45deg);
    width: 7px;
    height: 7px;
    margin-left: 10px;
    border-bottom: 1px solid var(--textBlack);
    border-right: 1px solid var(--textBlack);
    content: "";
    transition: transform .5s;
  }

  .answer {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    line-height: 0%;
    opacity: 0;
    padding: 0;
    transition: all .5s;
  }

  .answer.is-open {
    opacity: 1;
    line-height: 250%;
    padding-top: 16px;
    padding-bottom: 16px;
    transition: all .5s;
}
.answer p {
  padding-inline-end: 8px;
  padding-bottom: 16px;
  font-size: 1.6rem;
}

</style>

<script>
const question = document.querySelectorAll(".question");

function toggle () {
  const answer = this.nextElementSibling;
  this.classList.toggle("is-open")
  answer.classList.toggle("is-open")
}

for(let i = 0; i < question.length; i++){
  question[i].addEventListener("click", toggle)
}


</script>
