---
const { prev,word,width} = Astro.props;
---

<a href={prev}>
  <div class="forward arrow">{word}</div>
</a>

<style define:vars={{width}}>
  .forward {
    padding-inline: 0.8rem;
    width: var(--width);
    font-size: 1.6rem;
    text-align: start;
  }
  a {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    color: var(--textBlack);
  }
  a:hover {
    color: var(--attention);
  }
  .forward.arrow::before {
    transform: translateY(-10%) rotate(135deg);
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid var(--attention);
    border-right: 2px solid var(--attention);
  }
</style>
