---
const {
  href,
  label,
  width,
  fontSize = "1.6rem",
  marginInline = "auto",
} = Astro.props
---

<div class="backButton">
  <a href={href} class="more">{label}</a>
  <span />
</div>

<style define:vars={{width,fontSize, marginInline}}>
a {
    text-decoration: none;
    color: var(--textBlack);
    border-bottom: 1px solid transparent;
  }

  a:hover{
    color: var(--textGray);
    border-bottom: 1px solid var(--textGray);
  }
  .more {
    font-size: var(--fontSize);
  }

  .backButton {
    margin-inline: var(--marginInline);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: var(--width);
    height: 25px;
    line-height: 1.5;
    padding-left: 10px;
    transition: all .5s;
  }

  .backButton:hover {
    padding-left: 0px;
  }

  .backButton::before {
    content: "";
    color: var(--textBlack);
    display: block;
    transform:rotate(45deg);
    width: 10px;
    height: 10px;
    margin-left: 1.2rem;
    border-bottom: 1px solid var(--textBlack);
    border-left: 1px solid var(--textBlack);
  }

  .moreButton:hover::before {
    border-bottom: 1px solid var(--textGray);
    border-right: 1px solid var(--textGray)
  }
</style>
