---
const {
  href,
  label,
  width,
  fontSize = "1.6rem",
  marginInline = "auto",
} = Astro.props
---

<div class="backButton">
  <a href={href} class="back">{label}</a>
  <span />
</div>

<style define:vars={{width,fontSize, marginInline}}>
a {
    text-decoration: none;
    color: var(--textBlack);
    border-bottom: 1px solid transparent;
  }

  a:hover{
    color: var(--textGray);
    /* border-bottom: 1px solid var(--textGray); */
  }
  .back {
    padding: 0;
    font-size: var(--fontSize);
  }

  .backButton {
    margin-inline: var(--marginInline);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: var(--width);
    padding-bottom:0;
    transition: all .5s;
    padding-left: 10px;
  }

  /* .backButton:hover {
    padding-left: 0px;
  } */

  .backButton::before {
    content: "";
    color: var(--textBlack);
    display: block;
    transform:rotate(45deg)translateY(-1px);
    width: 10px;
    height: 10px;
    border-bottom: 1px solid var(--textBlack);
    border-left: 1px solid var(--textBlack);
  }

  /* .moreButton:hover::before { */
    /* border-bottom: 1px solid var(--textGray); */
    /* border-right: 1px solid var(--textGray) */
  /* } */
</style>
