---
import BackToTheTop from "./BackToTheTop.astro";
---
<div class="navbarTrigger"></div> <!-- IntersectionObserverのトリガーポイントとして設定 -->
<nav class="navbar is-inactive">
  <a href="/blogs/1">
    <img src="/blog.svg" alt="" width="25" height="24">
    <p>ブログ</p>
  </a>

  <a href="/menu&price">
    <img src="/menu.svg" alt="" width="27" height="23">
    <p>メニュー</p>
  </a>

  <a href="/contact">
    <img src="/mail-to.svg" alt=""  width="28" height="28">
    <p>お問い合わせ</p>
  </a>
    <BackToTheTop />
</nav>


<style>
  body {
    position: relative;
  }
  .navbarTrigger {
    position: absolute;
    top: 0px;
    height: 60px;
    width: 100%;
  }

  .navbar {
    display: flex;
    background: rgba(84, 105, 158, 0.95);
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0px;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 100;
  }

  .is-inactive {
    transition: 1s;
    transform: translateY(60px);
  }

  .is-active{
    transition: 1s;
    transform: translateY(0px);
  }

  a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    width: 60px;
    text-decoration: none;
  }

  a:nth-child(1) {
    margin-top: 2px; /* 微調整 */
  }

  a:nth-child(2) {
    margin-top: 3px; /* 微調整 */
  }

  p {
    color: var(--textWhite);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1rem;
    padding: 0;
  }

  @media screen and (768px <= width) {
    .navbar {
      display: none;
    }
  }

</style>

<script>
  import {ScrollObserver} from "./ScrollObserver"
  document.addEventListener("DOMContentLoaded", function () {

    const rising = function(el, isIntersecting) {
      if(isIntersecting) {
        const navbar = document.querySelector(".navbar")
        navbar.classList.remove("is-active")
        navbar.classList.add("is-inactive")
      }else {
        const navbar = document.querySelector(".navbar")
        navbar.classList.remove("is-inactive")
        navbar.classList.add("is-active")
      }
    }
    new ScrollObserver(".navbarTrigger", rising , null)
  })
</script>
