---
const {url, text} = Astro.props
---

<!-- urlはpropsに{"location.href='/'"}を記述する -->
  <button onclick={url}>
    {text}
  </button>

<style>
  a{
    text-decoration: none;

  }
    button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    width: auto;
    padding: 1.2rem;
    border: 1px solid var(--textBlack);
    color: var(--textBlack);
    font-size: 1.6rem;
  }
  button:hover {
    border: 1px solid var(--textGray);
    background-color: var(--textGray);
    color: var(--textWhite);
  }
</style>
