---

---

<div class="byMail">
  <h3>メールでのご予約・お問い合わせ</h3>
  <!-- アイコンを入れる -->
  <img src="/mail.svg" width="24" height="24"/>
  <a href="mailto:atama.reset@gmail.com">atama.reset@gmail.com</a>
</div>

<div class="byPhone">
  <h3>お電話でのご予約・お問い合わせ</h3>
  <img src="/phone.svg"  width="24" height="24">
  <a href="tel:080-9271-7855">080-9271-7855</a>
</div>

<style>
  h3 {
    font-size: 2rem;
  }

  .byMail,
  .byPhone {
    margin-block: 6.4rem;
    text-align: center;
  }

  .byMail a,
  .byPhone a {
    margin-left: 8px;
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  img {
    vertical-align: -4px;
    margin-left: 8px;
  }

</style>
