---
---

<footer>
  <div class="container">
    <p class="name">頭ほぐし専門店 reset</p>
    <div class="content">
      <a href="/">
        <img src="logo.png" alt="ロゴ" />
      </a>
      <div class="detail">
          <p>営業時間｜12時～21時［不定休］</p>
          <p>TEL｜080-9271-7855</p>
          <p>E-mail｜atama.reset@gmail.com</p>
          <p>〒468-0066</p>
          <address>愛知県名古屋市天白区元八事1-107</address>
          <p>「リライフ治療院」内</p>
      </div>
    </div>
      <div class="copyright">
        <p>©2023 頭ほぐし専門店 reset　All rights reserved.</p>
      </div>
  </div>
</footer>
<style>
  footer {
    margin-bottom:60px;  /* BottomNav用のスペース */
  }
  .container {
    height: auto;
    padding-inline: 7%;
    background-color: var(--bgFooter);
  }

  .name {
    display: block;
    padding-block: 12px;
    color: var(--textWhite);
    font-weight: normal;
    font-size: 1.6rem;
  }
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  img {
    width: 90px;
  }

  .detail {
    padding: 0;
    margin: 0;
  }

  .detail p {
    font-size: 1.2rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--textWhite);
    line-height: 125%;
  }

  .detail address {
    font-style: normal;
    margin: 0;
    font-size: 1.2rem;
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--textWhite);
    line-height: 125%;
  }

  .copyright p {
    color: var(--gray-50);
    padding-block: 16px 4px;
    font-size: 1rem;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
    text-decoration: none;
  }
</style>
