
.flex {
  display: flex;
  align-items: start;
  justify-content: center;
}

.gender {
  display: flex;
  gap: 3.2rem;
}

.errMessage {
  font-size: 1.6rem;
  padding: 0;
  color: var(--alert);
}

.inquiryForm h4,
.reservationForm h4 {
  font-size: 2rem;
  margin-block: 2.4rem .4rem;
}

.notice h4 {
  margin-block: 2.4rem .4rem;
}

.confirm {
  text-align: center;
}

.confirm p {
  padding-bottom: 8px;
}

.menuList .flex,
.visits .flex {
  align-items: center;
  justify-content: left;
  gap: 2.4rem;
}

.categoryName {
  font-weight: bold;
  padding-block:  1.6rem 0;
}

/* チェックボックスカスタマイズ */
.checkboxWrap {
  display: flex;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  font-size: 2rem;
  /* user-select: none; */
  margin-top: 4px;
}
.checkbox {
  opacity: 0;
}

.checkboxWrap .checkMark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid var(--textGray);
  border-radius: 4px;
  background-color: #fff;
}

.checkboxWrap .checkMark::after {
  content: "";
  position: absolute;
  display: none;
  top: -6px;
  left: 7px;
  width: 6px;
  height: 16px;
  border: 2px solid var(--highlight);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkboxWrap input:checked + .checkMark {
  background-color: #fff;
}
.checkboxWrap input:checked + .checkMark:after {
  display: block;
}

.checkMarkText {
  padding-left: 4px;
  padding-bottom: 0;
}

.checkbox:focus-visible ~ .checkMark {
  border: 2px solid var(--black);
}


/* 注意事項のチェックボックス*/
.flex .checkboxWrap {
  top: -5px;
  left: 6px;
}


/* 注意事項 */
.notice>h4 {
  text-align: center;
}

/* ラジオボタンカスタマイズ */
.radioInput {
  /* display: none; */
  opacity: 0;
  position: absolute;

}
.radioText {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}
.radioText::before {
  content:"";
  display: block;
  border-radius: 50%;
  border: 1px solid var(--textGray);
  width: 14px;
  height: 14px;
  background-color: #fff;
}
.radioText::after {
  content:"";
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}
.radioInput:checked+.radioText::after {
  content:"";
  left: 3px;
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: var(--highlight);
}

.radioInput:focus-visible ~ .radioText::after {
  content: "";
  left:0;
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 13px;
  height: 13px;
  border: 2px solid var(--black);
}

/* ボタン */
.btnForm {
  display: block;
  padding: 8px 16px;
  margin: 20px auto;
  border-radius: 20px;
  border: 1px solid var(--primary);
  color: var(--textWhite);
  font-size: 1.6rem;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 0px 5px 3px 0px rgba(0, 0, 0, 0.6);
  background-color: var(--primary);
}
.secondColor {
  background-color: var(--secondary);
  border: 1px solid var(--secondary);
}
.btnForm:active {
box-shadow: none;
transform: translateY(3px);
}
.btnForm:hover {
opacity: 0.7;
  color: var(--textWhite);
}
.btnForm:disabled {
color: var(--textGray);
background-color: transparent;
border: 1px solid var(--gray-25);
box-shadow: none;
background-color: var(--bgSecondary);
}
.btnForm:disabled:hover {
opacity: 1;
}


/* 入力確認モーダル */
/* #overlay styles.cssに記載 */

.modal{
  max-width: 680px;
  width: 90%;
  height: 90%;
  background-color: var(--bgPrimary);
  padding: 2.4rem;
  overflow: scroll;
}

@media screen and (768px <= width){
  .modal {
    height: 80%;
    width: 80%;
    position: absolute;
    /* top: 140px; */
  }
}

.modal h3 {
  font-size: 2rem;
}

.inputDetails {
  margin-block: 4rem;
}

.modal p {
  padding-block: 0 2rem;
  white-space: pre-wrap;
}
.modal h4 {
  margin-block: 0;
}

.modal li {
  font-size: 1.8rem;
}

.modal li:last-child {
  padding-block: 0 2rem;
}

.modalButtons {
  display: flex;
  justify-content: center;
  gap: 10%;
}

.inputWrapper {
  margin-block: 4rem;
}

.modal .message {
  margin-block: 1rem 2.6rem;
  padding-left: 1rem;
  border-left: 3px solid var(--gray-25);
  min-height: 50px;
}
