<button class="hamburgerClose open" id="js-hamburgerClose">
  <span></span>
  <span></span>
</button>

<style>
  .hamburgerClose {
    width: 60px;
    height: 60px;
    padding: 0 18px;
    background-color: transparent;
    border-color: transparent;
    z-index: 1000;
    cursor: pointer;
  }

  .hamburgerClose span {
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--textWhite);
    display: block;
    position: relative;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
    transition: all 1s .5s ease;
  }
  .hamburgerClose.open span:nth-child(1) {
    margin: 6px 0;
    top: 4px;
    transform: rotate(45deg);
    opacity: 1;
  }
  .hamburgerClose.open span:nth-child(2) {
    top: -4px;
    transform: rotate(-45deg);
    opacity: 1;
  }
  .hamburgerClose span:nth-child(1) {
    opacity: 0;
  }
  .hamburgerClose span:nth-child(2) {
    opacity: 0;
  }

  img {
    opacity: 0;
  }

  .open img {
    opacity: 1;
    transition: all cubic-bezier(0.9, 0.24, 0.58, 0.66) 1.5s;
  }

  p {
    color: var(--textWhite);
    font-family: "Noto Sans JP", sans-serif;
    font-size: 1rem;
  }

  @media screen and (768px <= width) {
    .hamburgerClose {
      width: 90px;
      height: 90px;
      padding: 28px;
      margin-right: -10px;
      margin-top: -10px;
    }
    .hamburgerClose span {
      width: 30px;
      height: 3px;
      border-radius: 1.5px;
    }
    .hamburgerClose.open span:nth-child(1) {
      top: 4.5px;
    }
    .hamburgerClose.open span:nth-child(2) {
      top: -4.5px;
    }
  }
</style>

<script>
  const body = document.querySelector("#js-body");
  const hamburgerClose = document.querySelector("#js-hamburgerClose");
  // const hamburger = document.querySelectorAll(".hamburger");
  const hamburger = document.querySelector("#js-hamburger");
  const globalNav = document.querySelector("#js-globalNav");
  const menuList = document.querySelector("#js-globalNav-menu");
  const menu = document.querySelectorAll(".menu");

  hamburgerClose.addEventListener("click", function () {
    body.classList.remove("inactive");
    hamburgerClose.classList.remove("open");
    // hamburger.forEach((hamburger) => {
    hamburger.classList.remove("open");
    // })
    hamburger.classList.remove("open");
    globalNav.classList.remove("open");
    menuList.classList.remove("open");
    menu.forEach((menu) => {
      menu.classList.remove("open");
    });
  });
</script>
