<button id="js-hamburger2">
  <img src="/hamburger.svg" alt="">
  <p>その他</p>
</button>

<style>
  button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
  }

  p {
    margin: 0;
    color: var(--textWhite);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1rem;
    padding: 0;
  }

</style>

<script>
  const body = document.querySelector("#js-body")
  const hamburger = document.querySelector("#js-hamburger");
  const hamburger2 = document.querySelector("#js-hamburger2");
  const hamburgerClose = document.querySelector("#js-hamburgerClose");
  const globalNav = document.querySelector("#js-globalNav");
  const menu = document.querySelector("#js-globalNav-menu");

  hamburger2.addEventListener("click", function () {
    body.classList.toggle("inactive");
    hamburger.classList.toggle("open");
    hamburgerClose.classList.toggle("open")
    globalNav.classList.toggle("open");
    menu.classList.toggle("open");
  });
</script>
