---

---


<button class="hamburger" id="js-hamburger">
  <span></span>
  <span></span>
  <span></span>
  <p class="menu">MENU</p>
</button>


<style>
  .hamburger {
    width: 60px;
    height: 60px;
    padding: 0 18px;
    background-color: transparent;
    border-color: transparent;
    z-index: 1000;
    cursor: pointer;
  }

  .hamburger span {
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--primary);
    display: block;
    position: relative;
    transition: ease 0.5s;
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
  }

  .hamburger span:nth-child(2) {
    margin: 6px 0;
  }

  .hamburger.open span:nth-child(1) {
    top: 8px;
    opacity: 0;
    transform: rotate(45deg);
    background-color: var(--textWhite);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
    background-color: var(--textWhite);
  }

  .hamburger.open span:nth-child(3) {
    opacity: 0;
    top: -8px;
    transform: rotate(-45deg);
    background-color: var(--textWhite);
  }

  .menu {
    display: none; /* デスクトップのときに表示させる */
    padding-top: 2px;
    margin-left: -2px;
    transform: scale(0.7);
  }


  @media screen and ( 768px <= width ) {
    .hamburger {
    width: 90px;
    height: 90px;
    padding: 28px;
  }
  .hamburger span {
    width: 30px;
    height: 3px;
    border-radius: 1.5px;
    transition: ease 0.5s;
  }
  .hamburger span:nth-child(2) {
    margin: 8px 0;
  }

  .hamburger.open span:nth-child(1) {
    opacity: 0;
    top: 10px;
    transform: rotate(45deg);
  }

  .hamburger.open span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open span:nth-child(3) {
    opacity: 0;
    top: -10px;
    transform: rotate(-45deg);
  }

  .menu {
    display: block; /* デスクトップのときに表示させる */
    transform: translateY(10px);
    margin-top: 5px;
    margin-left: -11px;
    transform: scale(0.7);
    color: var(--primary);
  }

  .menu.open {
    display: none;
  }
  }
</style>

<script>
  const body = document.querySelector("#js-body")
  const hamburgers = document.querySelectorAll(".hamburger");
  const globalNav = document.querySelector("#js-globalNav");
  const hamburgerClose = document.querySelector("#js-hamburgerClose");
  const menuList = document.querySelector("#js-globalNav-menu");
  const menu = document.querySelectorAll(".menu");

  hamburgers.forEach((hamburger) => {
    hamburger.addEventListener("click", function () {
      body.classList.toggle("inactive");
      hamburger.classList.toggle("open");
      globalNav.classList.toggle("open");
      hamburgerClose.classList.toggle("open")
      menuList.classList.toggle("open");
      menu.forEach((menu) => {
        menu.classList.toggle("open");
      })
  })
  });
</script>
