---
import Hamburger from "@components/Hamburger.astro";

---

<header>
  <p>名古屋市天白区のヘッドマッサージサロン</p>
  <div class="headerNav">
    <div class="left">
      <Hamburger />
      <div class="logo">
        <a href="/">
          <img src="logo2.png" alt="ロゴ" />
        </a>
      </div>
    </div>
    <div class="right">
      <a href="">ご予約</a>
    </div>
  </div>
</header>


<style>
  header {
    position: relative;
    width: 100%;
    height: 64px;
    z-index: 10;
  }

  header p {
    text-align: end;
    margin-right: 1rem;
    margin-bottom: -1rem;
  }

  .headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left {
    display: flex;
    flex-direction: row;
    align-items: center;
  }


  .logo img {
    width: 75px;
    filter: drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.5));
  }

  .right {
    margin-right: 20px;
    width: 48px;
    height: 32px;
    background-image: url(/menu-background.png);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
  }

  .right a {
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--primary);
    font-weight: bold;
    filter: drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.5));
  }

  p {
    font-size: 1rem;
    margin: 0;
    color: var(--primary);
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
  }

</style>
