---
import GlobalNav from "./GlobalNav.astro";
---

<header>
  <p>名古屋市天白区のヘッドマッサージサロン</p>
  <nav>
    <div class="left">
      <button class="hamburger" id="js-hamburger">
        <span></span>
        <span></span>
        <span></span>
        <p>MENU</p>
      </button>
      <div class="logo">
        <a href="/">
          <img src="logo2.png" alt="ロゴ" />
        </a>
      </div>
    </div>
    <div class="right">
      <a href="">ご予約</a>
    </div>
  </nav>


<div class="container" id="js-container">
    <a href="/"><img src="/logo.png" alt="ロゴ" class="globalNav-logo" /></a>

  <div class="btn-contact"><a href="">ご予約・お問い合わせ</a></div>

  <div class="wrapper">
    <div class="menu top">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/">ごあいさつ</a></li>
        <li><a href="/">お知らせ</a></li>
        <li><a href="/">ブログ</a></li>
        <li><a href="/">施術メニュー & 料金</a></li>
        <li><a href="/">初めてのお客様へ</a></li>
        <li><a href="/">よくあるご質問</a></li>
        <li><a href="/">お客様の声</a></li>
      </ul>
    </div>
    <div class="menu middle">
      <ul>
        <li><a href="/">期待される効果</a></li>
        <li><a href="/">脳疲労とは？</a></li>
        <li><a href="/">脳脊髄液と睡眠</a></li>
        <li><a href="/">腸セラピー</a></li>
        <li><a href="/">ふくらはぎほぐし</a></li>
        <li><a href="/">不定愁訴とは</a></li>
        <li><a href="/">施術の流れ</a></li>
      </ul>
    </div>
    <div class="menu bottom">
      <ul>
        <li><a href="/">企業・団体様</a></li>
        <li><a href="/">プライバシーポリシー</a></li>
      </ul>
    </div>
  </div>
</div>
</header>


<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    z-index: 10;
  }

  header p {
    text-align: end;
    margin-right: 1rem;
    margin-bottom: -1rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .left {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .hamburger {
    width: 60px;
    height: 60px;
    padding: 0 18px;
    background-color: transparent;
    border-color: transparent;
    z-index: 1000;
    cursor: pointer;
  }

  .hamburger span {
    width: 20px;
    height: 2px;
    border-radius: 1px;
    background-color: var(--primary);
    display: block;
    position: relative;
    transition: ease .5s;
    filter:drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.60));
  }

  .hamburger span:nth-child(2) {
    margin: 6px 0;
  }

  .hamburger.active span:nth-child(1) {
    top: 8px;
    transform: rotate(45deg);
    background-color: var(--textWhite);
  }

  .hamburger.active span:nth-child(2) {
    opacity: 0;
    background-color: var(--textWhite);
  }

  .hamburger.active span:nth-child(3) {
    top: -8px;
    transform: rotate(-45deg);
    background-color: var(--textWhite);
  }

  .hamburger p {
    display: none;    /* デスクトップのときに表示させる */
    padding-top: 2px;
    margin-left: -2px;
    transform: scale(0.7);
  }

  .logo img {
    width: 75px;
    filter:drop-shadow(1px 1px 5px rgba(0, 0, 0, 0.60));
  }

  .right {
    margin-right: 20px;
    width: 48px;
    height: 32px;
    background-image: url(/menu-background.png);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
  }

  .right a {
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--primary);
    font-weight: bold;
    filter:drop-shadow(1px 1px 10px rgba(0, 0, 0, 0.60));
  }

  p {
    font-size: 1rem;
    margin: 0;
    color: var(--primary);
    filter:drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.60));
  }

  /* GlobalNav */
  .container {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    background: linear-gradient(
      180deg,
      rgba(84, 105, 158, 0.9) 0%,
      rgba(174, 183, 206, 0.9) 100%
    );
    padding-bottom: 24px;
    transform: translateX(100%);
    transition: ease .5s;
    z-index: 100;
  }

  .container.active {
    transform: translateX(0);
  }

  .globalNav-logo {
    display: block;
    margin: 16px 16px auto auto;
    width: 60px;
  }

  .btn-contact {
    margin-block: 45px;
    text-align: center;
  }

  .btn-contact a {
    line-height: ;
    padding: 5px 16px;
    border-radius: 18px;
    border: 1px solid var(--textWhite);
  }

  .wrapper {
    padding-inline: 10%;
  }

  ul {
    display: inline-block;
    padding: 0;
  }

  li {
    list-style: none;
    margin-block-end: 24px;
  }

  a {
    padding-bottom: 4px;
    position: relative;
    text-decoration: none;
    color: var(--textWhite);
    font-size: 1.8rem;
  }

  .menu a::after {
    background-color: var(--textWhite);
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    left: 0;
    position: absolute;
    transition: 0.1s all;
    width: 0;
  }

  .menu a:hover::after {
    width: 100%;
  }

  .middle {
    text-align: right;
  }

  .middle a {
    display: inline-block;
    text-align: end;
  }

  .contact {
  }
</style>

<script>
  const hamburger = document.querySelector("#js-hamburger");
  const container = document.querySelector("#js-container");

  hamburger.addEventListener("click", function () {
    hamburger.classList.toggle("active");
    container.classList.toggle("active");
  });
</script>
