---
import { getNews } from "src/library/news";
import MoreButton from "./MoreButton.astro";

const posts = await getNews({ limit: 3 });

const data = posts.contents.map((content) => ({
  title: content.title,
  tag:content.tag,
  summary: content.summary,
  pubDateDisplay: content.pubDateDisplay,
  publishedAt: content.publishedAt
  ? new Date(content.publishedAt)
  .toLocaleDateString("ja-JP")
  .split("/")
  .join(".")
  : "",
}));

---

<section class="news">
  <h2>お知らせ</h2>
  <div class="container">
    {
      data.map((content) => (
        <a href="/news">
          <div class="news-header">
            { content.tag.map((tag) => {
              switch (tag) {
                case "重要":
                  return <div class="tag important">重要</div>;
                case "NEW":
                  return <div class="tag new">NEW</div>;
                  case "緊急":
                  return <div class="tag emergency">緊急</div>;
                default:
                  break;
              }
            })
            }
          <div class="wrapper">
          <p>{content.title}</p>
          <div class="setHtml" set:html={content.summary} />
        </div>
      </div>
    </a>
    ))
  }
  <MoreButton
    href = "/news",
    label = "もっと見る",
    width = "114px"
    marginInline = "auto 0"
  />

</div>
</section>

<style>

  p {
    padding-block: 0.8rem;
    line-height: 150%;
  }

  a {
    text-decoration: none;
    color: var(--textBlack);
  }

  a:hover{
    color: var(--textGray);
  }

  .container {
    max-width: 400px;
    margin-inline: auto;
  }

  .news {
    opacity: 0;
    transform: translateY(20px);
    transition: 1s;
    margin-block-end: 2.4rem;
    padding: 4rem 2.4rem;
    background-color: var(--bgSecondary);
  }
  h2 {
    text-align: center;
    margin-bottom: 2.4rem;
  }

  .news-header {
    border-bottom: 1px solid var(--textBlack);
    margin-bottom: 1.6rem;
    transition: all .5s;
  }

  .publishedAT {
    padding-block: 0.4rem;
    margin-left: 1.2rem;
    font-size: 1.4rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
  }

  .tag {
    transform: rotate(-15deg);
    margin-left: -10px;
    margin-bottom: -10px;
  }

  .setHtml {
    padding: 0;
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    class ScrollObserver {
      constructor(els, cb, options) {
        //監視対象のelementsを取得
        this.els = document.querySelectorAll(els);
        //オプションのデフォルト設定を定義
        const defaultOptions = {
          root: null,
          rootMargin: "0px",
          threshold: 0,
        };
        this.cb = cb;
        //デフォルト設定に、個別設定のオプションをマージする
        this.options = Object.assign(defaultOptions, options);
        //
        this._init();
      }
      _init() {
        const callback = (entries) => {
          entries.forEach((entry) => {
            //監視対象の要素が領域内に入った場合の処理
            if (entry.isIntersecting) {
              this.cb(entry.target, true); //true=isIntersectingがtrue
              //処理後に監視を切る処理
              observer.unobserve(entry.target);
            }
          });
        };
        const observer = new IntersectionObserver(
          callback.bind(this),
          this.options
        );
        //対象の要素elを監視
        this.els.forEach((el) => observer.observe(el));
      }
    }

    const fadein = function (el, isIntersecting) {
      if (isIntersecting) {
        el.style.opacity = 1;
        el.style.transform = "none";
      }
    };
    const fadeinTrigger = new ScrollObserver(".news", fadein, {
      rootMargin: "-100px 0px",
      threshold: 0,
    });
  });
</script>
