---
import { getNews } from "src/library/news";

const posts = await getNews({ limit: 2 });

const data = posts.contents.map((content) => ({
  title: content.title,
  publishedAt: content.publishedAt
    ? new Date(content.publishedAt)
        .toLocaleDateString("ja-JP")
        .split("/")
        .join(".")
    : "",
}));
---

<section class="news">
  <h2>お知らせ</h2>
  <div class="container">
  {
    data.map((content) => (
      <a href="/news">
      <div class="news-header">
        <p class="publishedAT">{content.publishedAt}</p>
        <div class="wrapper">
          <p>{content.title}</p>
          <span />
        </div>
      </div>
    </a>
    ))
  }
  <div class="moreButton">
  <a href="/news" class="more">もっと見る</a>
  <span />
  </div>
</div>
</section>

<style>

  p {
    padding-block: 0.8rem;
  }

  a {
    text-decoration: none;
    color: var(--textBlack);
  }

  a:hover{
    color: var(--textGray);
  }

  .more {
    font-size: 1.6rem;
  }

  .moreButton {
    margin-inline: auto 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 110px;
    line-height: 1.5;
    padding-right: 10px;
    transition: all .5s;
  }

  .moreButton:hover {
    padding-right: 0px;
  }
  .container {
    max-width: 400px;
    margin-inline: auto;
  }

  .news {
    opacity: 0;
    transform: translateY(20px);
    transition: 2s;
    margin-block-end: 2.4rem;
    padding: 4rem 1.6rem;
    background-color: var(--bgSecondary);
  }
  h2 {
    text-align: center;
    margin-bottom: 2.4rem;
  }

  .news-header {
    border-bottom: 1px solid var(--textBlack);
    margin-bottom: 1.6rem;
    transition: all .5s;
    padding-right: 10px;
  }

  .news-header:hover {
    padding-right: 0px;
  }

  .publishedAT {
    padding-block: 0.4rem;
    margin-left: 1.2rem;
    font-size: 1.4rem;
  }

  .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    line-height: 1;
    margin-left: 1.2rem;
  }

  span {
    content: "";
    color: var(--textBlack);
    cursor: pointer;
    display: block;
    transform:rotate(-45deg);
    width: 7px;
    height: 7px;
    margin-right: 1.2rem;
    border-bottom: 1px solid var(--textBlack);
    border-right: 1px solid var(--textBlack);
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    class ScrollObserver {
      constructor(els, cb, options) {
        //監視対象のelementsを取得
        this.els = document.querySelectorAll(els);
        //オプションのデフォルト設定を定義
        const defaultOptions = {
          root: null,
          rootMargin: "0px",
          threshold: 0,
        };
        this.cb = cb;
        //デフォルト設定に、個別設定のオプションをマージする
        this.options = Object.assign(defaultOptions, options);
        //
        this._init();
      }
      _init() {
        const callback = (entries) => {
          entries.forEach((entry) => {
            //監視対象の要素が領域内に入った場合の処理
            if (entry.isIntersecting) {
              this.cb(entry.target, true); //true=isIntersectingがtrue
              //処理後に監視を切る処理
              observer.unobserve(entry.target);
            }
          });
        };
        const observer = new IntersectionObserver(
          callback.bind(this),
          this.options
        );
        //対象の要素elを監視
        this.els.forEach((el) => observer.observe(el));
      }
    }

    const fadein = function (el, isIntersecting) {
      if (isIntersecting) {
        el.style.opacity = 1;
        el.style.transform = "none";
      }
    };
    const fadeinTrigger = new ScrollObserver(".news", fadein, {
      rootMargin: "-100px 0px",
      threshold: 0,
    });
  });
</script>
