

.publishedAt {
  font-size: 1.4rem;
  padding: 0;
}

.title {
  padding: 0 0 1.6rem 0 ;
}

.image {
  margin: 0 0 1.6rem 0 ;
}

/* img{width: 100%;height: auto;}　はスコープを効かせるため、InlineStylesで記述 */


aside {
  display: none;
}

main a {
  padding: 0.8rem;
  text-align: center;

}

.setHtml p {
  line-height: 3rem;
  padding-bottom: 4rem;
}


@media screen and (768px <= width) {
  section {
    display: flex;
    flex-direction: row;
    max-width: 900px;
    margin: 4rem auto;
  }
  aside {
    display: block;
    min-width: 300px;
  }
  h3 {
    padding-inline-start: 2.4rem;
    font-size: 2rem;
  }
  .blog-list {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    position: sticky;
    top: 200px;
  }
}
