
@import '@fontsource/noto-serif-jp';
@import '@fontsource/noto-sans-jp';

@import "../styles/splide.min.css";

/* 基本色 */
:root {
  --primary: #3A486D;
  --secondary: #66AFC3;
  --positive: #FFB6C1;
  --highlight: #E37B00;
  --attention: #ff7b8f;
  --alert: #FF0000;
  --link: #0066FF;
  --bgPrimary:#F4F4F4; /*全ページのバックグラウンド*/
  --bgSecondary:#F0F0F0;
  --bgFooter: #A6B5BE;
  --bgBottomNav: #54699EF2;
  --polkaDots:#66AFC312;
  --menu: #66AFC34D;
  --menuSub: #66AFC31A;
  --textBlack: #2E2E2E;
  --textGray: #707070;
  --textWhite: #F4F4F4;
  --gray-50: #707070;
  --gray-25: #AAAAAA;
  --white: #FFFFFF;
  --black: #000000;
}

/* 基本設定 */
body {
  color: var(--textBlack);
  background-color: var(--bgPrimary);
  font-family: 'Noto Serif JP', serif;
  margin: 0;
  overflow-x: auto;
  overflow-y: auto;
  min-width: 375px;
}

/* 文字サイズ */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

/* オーバーレイの下でページが不要にスクロールするのを防ぐ。オーバーレイが外側に残ることを防ぐ*/
.inactive {
  position: relative;
  overflow: hidden;
  width: 100%;
}

h1 {
  /* font-size: 3.4rem; */
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
}

h4 {
  font-size: 1.8rem;
}

p {
  font-size: 1.8rem;
}

li {
  font-size: 1.6rem;
}
h1,h2,h3,p,ul,li {
  margin: 0;
}

/* テキスト装飾 */
.bold {
  font-weight: bold;
}
.primary {
  color: var(--primary);
}
.secondary {
  color: var(--secondary);
}
.highlight {
  color: var(--highlight);
}
.positive {
  color: var(--positive);
}
.attention {
  color: var(--attention);
}
.alert {
  color: var(--alert);
  font-size: 1.4rem;
}
.link {
  color: var(--link);
}
.h3_borderLeft {
  border-left: 5px solid var(--positive);
  padding-left: 1.6rem;
}

.borderLeft {
  border-left: 5px solid var(--positive);
  padding-left: 1.6rem;
}

ul {
  list-style: none;
  padding: 0;
}

/* スペーシング */
p {
  padding-block-end: 1.6rem;
}


/* 予約・問い合わせフォーム */
form {
  margin-block: 6.4rem;
}

label {
  font-size: 1.8rem;
}

.inquiry-form h4,
.reservation-form h4 {
  font-size: 2rem;
}

input {
  min-width: 250px;
  width: 50%;
}

input,
textarea {
  box-sizing: border-box;
  margin-top: 4px;
  border-radius: 8px;
  font-size: 1.6rem;
  padding: 4px 8px;
  border: 2px solid var(--textGray);
}

textarea {
  min-width: 343px;
  width: 100%;
  padding: 8px;
  font-family: 'Noto Sans JP', sans-serif;
}

.flex {
  display: flex;
  align-items: start;
  justify-content: center;
}

.gender {
  display: flex;
  gap: 3.2rem;
}

.confirm {
  text-align: center;

}
.confirm p {
  padding-bottom: 8px;
}


.inquiry-form h4 {
  margin-block: 2.4rem .4rem;

}
.notice h4 {
  margin-block: 2.4rem .4rem;
}

.menuList .flex,
.visits .flex {
  align-items: center;
  justify-content: left;
  gap: 2.4rem;
}

.categoryName {
  font-weight: bold;
  padding-block:  1.6rem 0;

}

/* チェックボックスカスタマイズ */
.checkbox-wrap {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 2rem;
  user-select: none;
  margin-top: 4px;
}
.checkbox-wrap input {
  display: none;
}
.checkbox-wrap .checkmark {
  position: absolute;
  top: 7px;
  left: 0;
  height: 18px;
  width: 18px;
  border: 2px solid var(--textGray);
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fff;
}
.checkbox-wrap .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: -8px;
  left: 6px;
  width: 6px;
  height: 16px;
  border: 2px solid var(--highlight);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-wrap input:checked + .checkmark {
  background-color: #fff;
}
.checkbox-wrap input:checked + .checkmark:after {
  display: block;
}
.checkmark-text {
  padding-left: 24px;
}

/* 注意事項のチェックボックス*/
.flex .checkbox-wrap {
  top: -5px;
  left: 6px;
}


/* 注意事項 */
.notice>h4 {
  text-align: center;
}

/* ラジオボタンカスタマイズ */
.radio-input {
  display: none;
  position: absolute;

}
.radio-text {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
}
.radio-text::before {
  content:"";
  display: block;
  border-radius: 50%;
  border: 2px solid var(--textGray);
  width: 14px;
  height: 14px;
  background-color: #fff;
}
.radio-text::after {
  content:"";
  position: absolute;
  display: block;
  border-radius: 50%;
  /* width: 10px; */
  /* height: 10px; */
}
.radio-input:checked+.radio-text::after {
  content:"";
  left: 3.5px;
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 11px;
  height: 11px;
  background-color: var(--highlight);
}


/* 入力確認モーダル */
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal{
  width: 80%;
  height: 80%;
  background-color: #fff;
  padding: 2.4rem;
}

.modal h3 {
  font-size: 2rem;
}

.inputDetails {
  margin-block: 4rem;
}
.modal p {
  padding-block: 0 2rem;
  white-space: pre-wrap;
}
.modal h4 {
  margin-block: 0;
}
.modalButtons {
  display: flex;
  justify-content: center;
  gap: 4rem;
}

.inputWrapper {
  margin-block: 4rem;
}
