
@import '@fontsource/noto-serif-jp';
@import '@fontsource/noto-sans-jp';

/* @import '../../dist/css/splide.min.css'; */

/* 基本色 */
:root {
  --primary: #3A486D;
  --secondary: #66AFC3;
  --positive: #FFB6C1;
  --highlight: #E37B00;
  --attention: #ff7b8f;
  --alert: #FF0000;
  --link: #0066FF;
  --bgPrimary:#F4F4F4; /*全ページのバックグラウンド*/
  --bgSecondary:#F0F0F0;
  --bgFooter: #A6B5BE;
  --bgBottomNav: #54699EF2;
  --polkaDots:#66AFC312;
  --menu: #66AFC34D;
  --menuSub: #66AFC31A;
  --textBlack: #2E2E2E;
  --textGray: #707070;
  --textWhite: #F4F4F4;
  --gray-50: #707070;
  --gray-25: #AAAAAA;
  --white: #FFFFFF;
  --black: #000000;
}

/* 基本設定 */
body {
  color: var(--textBlack);
  background-color: var(--bgPrimary);
  font-family: 'Noto Serif JP', serif;
  margin: 0;
  overflow-x: auto;
  overflow-y: auto;
  min-width: 375px;
}

/* 文字サイズ */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

/* オーバーレイの下でページが不要にスクロールするのを防ぐ。オーバーレイが外側に残ることを防ぐ*/
.inactive {
  position: relative;
  overflow: hidden;
  width: 100%;
}

h1 {
  /* font-size: 3.4rem; */
  font-family: 'Noto Serif JP', serif;
  font-weight: 400;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2.2rem;
}

p {
  font-size: 1.8rem;
}

li {
  font-size: 1.6rem;
}
h1,h2,h3,p,ul,li {
  margin: 0;
}

/* テキスト装飾 */
.bold {
  font-weight: bold;
}
.primary {
  color: var(--primary);
}
.secondary {
  color: var(--secondary);
}
.highlight {
  color: var(--highlight);
}
.positive {
  color: var(--positive);
}
.attention {
  color: var(--attention);
}
.alert {
  color: var(--alert);
}
.link {
  color: var(--link);
}
.h3_borderLeft {
  border-left: 5px solid var(--positive);
  padding-left: 1.6rem;
}

/* スペーシング */
p {
  padding-block-end: 1.6rem;
}
