---
import Layout from "@layouts/layout.astro";

// microCMSを呼び出す
import { getBlogs } from "src/library/microcms";
const response = await getBlogs({fields: ["id","title","category"]});

// console.log(response.contents.map((content) => (
//           {content.category}
//         )));

---

<Layout title="ブログ一覧">
  <main>
    <ul>
      {
        response.contents.map((content) => (
          <li>
            <a href={content.id}>{content.title}</a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>

<script>

</script>
