---
import Layout from "@layouts/layout.astro";
import { Image }  from "astro:assets";
import brain_fatigue from "../assets/brain-fatigue.webp"

const checks = [
  "疲れやすい",
  "イライラする",
  "物忘れが増えた",
  "凡ミスをする",
  "集中力が続かない",
  "文章がなかなか頭に入ってこない",
  "焦燥感がある",
  "いいアイデアがひらめかない",
  "優柔不断になった",
  "日中に眠くなる",
  "いびきをかく",
  "疲れが取れない",
  "寝つきが悪い",
  "眠りが浅い",
  "ゴロゴロしたい",
];
---

<Layout pageTitle="脳疲労とは" description="">
  <main>
    <section class="brain_fatigue">
    <h2>「脳疲労」とは...</h2>
    <div class="upperPart">
    <div class="image">
      <Image src={brain_fatigue} alt="" loading="eager"/>
    </div>
    <article>
    <p>脳が疲れた状態のこと。</p>
    <p>筋肉を使いすぎると筋肉疲労が起こるように、脳も使いすぎると<br><span class="bold">「脳疲労」を起こし<br>正常に機能しなくなります。</p></span>
    <p>疲労やストレスにより<br>脳が正常に機能しなくなると<br><span class="bold">自律神経を司る視床下部にまで影響が及び、<br>身体にさまざまな不調が表れます。</span></p>
      <p><span class="bold">慢性疲労は<br>“単なる体の疲れ” ではなく<br>「脳の疲れ」</span>です。</p>
  </article>
</div>
  <div class="lists">
    <div class="at_risk list">
      <h3>～脳疲労を起こしやすい人とは～</h3>
      <ul>
        <li>・パソコンやスマホをよく使う</li>
        <li>・キリのいいところまでやらないと嫌</li>
        <li>・責任感が強い</li>
        <li>・集中力が高い</li>
        <li>・没頭すると周りが見えなくなる</li>
        <li>・マルチタクス(役割過多)</li>
        <li>・ストレス解消のため体を動かすのが習慣</li>
        <li>・夜勤など、仕事の時間が不規則</li>
        <li>・休日は予定を詰める</li>
        <li>・日頃から人と多く接する</li>
        <li>・運転中あまり休憩を取らない</li>
        <li>・熱いお風呂に長湯をする</li>
        <li>・屋外で過ごす時間が長い</li>
      </ul>
    </div>
    <div class="check_list list">
      <h3>～脳疲労チェック～</h3>
      <ul>
        {checks.map((check) => (
          <li><img
          class="check"
          src="/checked.svg"
          alt="チェック"
          width="14px"
          height="15px"
        />{check}</li>
        ))}
      </ul>
    </div>
  </div>
  <p><span class="bold">どれか当てはまる方は、<br>脳が疲れて「脳疲労」を起こしているかも。</span></p>
  <p><span class="bold">脳疲労を放っておくと、<br>自律神経が乱れ、<br>全身にさまざまな不調を引き起こします。</span></p>
  <p>自律神経は<br>血圧・呼吸・体温・消化・心拍・発汗などを司っています。
  </p>
  <p><span class="bold">自律神経の乱れは健康に大きく影響します。</span></p>

</section>
  </main>
</Layout>

<style>
  section {
    /* text-align: center; */
    max-width: 900px;
    margin: 0 auto;
    padding-block: 40px;
    padding-inline: 1.6rem;
  }
  .brain_fatigue h2{
    text-align: left;
    padding-bottom: 1.6rem;
  }

  .image {

  }
  img {
    width: 100%;
    height: auto;
    margin-bottom: 1.6rem;
  }

  .check {
    width: auto;
    height: auto;
    margin-inline: 4px;
    margin-bottom: 0;
  }
  article {
    text-align: left;
  }

  h3 {
    font-size: 1.8rem;
    padding-bottom: .8rem;
  }

  p {
    line-height: 200%;
    letter-spacing: 2.7px;
    padding-bottom: 2.4rem;
  }

  li {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 200%;
    margin: 0;
  }

  .lists {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-block: 1.6rem;
  }

  @media screen and ( 900px <= width ){
    section {
      padding-inline: 2.4rem;
    }
    .brain_fatigue h2{
    text-align: left;
    padding-bottom: 4rem;
  }
    .upperPart {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  article{
    max-width: 404px;
  }
  /* .image {
    width: 40%;
  } */
  img {
    max-width: 404px;
    height: auto;
  }

  .lists {
    flex-direction: row;
    gap: 1.6rem;
  }

  .list {
    max-width: 404px;
  }
  }



</style>
