---
import Layout from "@layouts/layout.astro";
import { Image } from "astro:assets";
import calf from "../assets/calf.webp";
import PriceTag from "@components/PriceTag.astro";
import DiscountOuter from "@components/DiscountOuter.astro";
import DiscountPriceTag from "@components/DiscountPriceTag.astro";
---

<Layout title="ふくらはぎほぐし">
  <main>
    <section class="carf_loosening">
      <div class="container">
        <h2>ふくらはぎほぐし</h2>
        <div class="image">
          <Image src={calf} alt="" loading="eager"/>
        </div>
        <article>
          <div class="explanation">
            <h3>
              <span class="bold"> ～ふくらはぎほぐしの効果～</span>
            </h3>

            <h4>
              ➀コリの解消
            </h4>
              <p>
              身体は一つの大きな筋膜で包まれています<br />
              （筋膜…個々の筋肉を包み込む膜）
            </p>
            <p>
              「頭ほぐし」や「ふくらはぎほぐし」で筋膜が緩むことにより、全身の筋膜の緩みに繋がります。
            </p>
            <p>全身の筋膜が柔らかくなると全身のコリも緩和されます。</p>
            <p>頭やふくらはぎをほぐして腰痛が改善される事例もあります。</p>

            <h4>
              ➁血流改善
            </h4>
              <p>
              全身の筋膜が柔らかくなり<br />コリが緩和されると、<br
              />血流が改善されます。
            </p>

            <h4>
              ➂冷え・むくみの解消
            </h4>
              <p>「ふくらはぎは第２の心臓」<br />
              ふくらはぎの筋肉は、<br />重力で下に溜まった血液を心臓に戻す<br
              />ポンプの役割をしています。
            </p>
            <p>
              ふくらはぎの筋肉を柔らかくすることで、<br
              />ポンプ機能をスムーズにおこない、<br />血行促進し、<br
              />不要な水分や老廃物を排出してくれます。<br
              />そうすることで冷えやむくみが解消されます。
            </p>

            <h4>
              ➃姿勢が良くなる
            </h4>
              <p>全身の筋膜が緩むと姿勢も良くなり、<br
              />深い呼吸ができるようになります。
            </p>

            <h4>
              ➄リラックス効果
            </h4>
              <p>
              呼吸が深くなることで、<br
              />全身の血流改善やリラックス効果が期待できます。<br
              />また、深い呼吸には自律神経を整える効果もあります。
            </p>

            <h4>
              ➅代謝アップ
            </h4>
            <p>硬いふくらはぎは血行不良が起こり、<br
              />身体の巡りも悪くなります。<br />体内の循環が悪くなると<br
              />栄養やエネルギーが全身に行き渡らなくなり、代謝が落ちることも…
              <p>血流改善が改善されることで代謝アップに繋がります。</p>
              <p>◎ふくらはぎほぐしは以下の症状に効果的です。</p>
              <p>
                冷え性、むくみ、腰痛、不眠、頻尿などの尿トラブル、婦人科系症状など
              </p>
            </p>
          </div>
        </article>
      </div>
      <aside>
        <h3>ふくらはぎほぐしを含むコース</h3>
        <h3 class="h3_borderLeft">+ ふくらはぎほぐし</h3>
        <div class="flex">
          <div class="price_list">
            <div class="course_outer">
              <PriceTag time="90" price="10,000" />
              <PriceTag time="105" price="11,500" />
              <PriceTag time="120" price="13,000" />
              <DiscountOuter>
                <DiscountPriceTag
                  time="90"
                  originalPrice="10,000"
                  discountPrice="7,000"
                />
                <DiscountPriceTag
                  time="105"
                  originalPrice="11,500"
                  discountPrice="8,000"
                />
                <DiscountPriceTag
                  time="120"
                  originalPrice="13,000"
                  discountPrice="9,000"
                />
              </DiscountOuter>
            </div>
          </div>
        </div>
        <h3 class="h3_borderLeft">全部コース</h3>
        <div class="flex">
          <div class="price_list">
            <div class="course_outer">
              <PriceTag time="105" price="11,500" />
              <PriceTag time="120" price="13,000" />
              <DiscountOuter>
                <DiscountPriceTag
                  time="105"
                  originalPrice="11,500"
                  discountPrice="8,000"
                />
                <DiscountPriceTag
                  time="120"
                  originalPrice="13,000"
                  discountPrice="9,000"
                />
              </DiscountOuter>
            </div>
          </div>
        </div>
      </aside>
    </section>
  </main>
</Layout>

<style>
  main {
    margin-top: 40px;
  }

  section {
    margin-block: 6.4rem;
  }

  .container {
    padding-inline: 1.6rem;
  }

  h2 {
    font-size: 2.2rem;
    margin-bottom: 1.6rem;
  }

  h3 {
    text-align: left;
  }

  h4 {
    font-size: 1.8rem;
    margin-bottom: .8rem;
  }

  .image {
    margin-bottom: 1.6rem;
  }

  .explanation p {
    padding-bottom: 1.2rem;
  }

  .cause {
    margin-bottom: 1.8rem;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    font-size: 1.8rem;
  }
  .cause li::before {
    content: "◆";
  }
  .effect li::before {
    content: "◎";
  }

  aside {
    display: none;
  }

  @media screen and (768px <= width) {
    section {
      display: flex;
      flex-direction: row;
      justify-content: center;

    }

    .container {
      max-width: 435px;
      padding-inline: 2.4rem;
    }

    aside {
      /* position: sticky;
      top: 130px; */
      padding: 2.4rem;
      height: fit-content;
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
      border: 1px solid var(--gray-25);
      opacity: 0.8;
      margin-inline-end: 2.4rem;
    }

    .flex {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.6rem;
    }

    .flex:first-of-type {
      margin-bottom: 40px;
    }

    .course_outer {
      display: flex;
      flex-direction: column;
      gap: 1.6rem;
    }

    aside>h3:first-of-type {
      margin-block-end: 3.2rem;
    }

    aside > h3 {
      font-size: 2rem;
      text-align: left;
    }
    .h3_borderLeft {
      text-align: left;
    }
  }
</style>
