---
import Sleep from "@components/Sleep.astro";
import Layout from "@layouts/layout.astro";
---

<Layout title="脳脊髄液と睡眠">
  <main>
    <Sleep>
  </main>
</Layout>

<style>
  main {
    margin-top: 40px;
  }
</style>
