---
import Sleep from "@components/Sleep.astro";
import Layout from "@layouts/layout.astro";
---

<Layout>
  <main>
    <Sleep>
  </main>
</Layout>

<style>
  main {
    margin-top: 40px;
  }
</style>
