---
import Layout from "@layouts/layout.astro";

---
<Layout>


  <div class="container">
    <p>リサイズしてください</p>
  </div>
</Layout>


<style>
  .container {
    container-type: inline-size;
    resize: horizontal;
    overflow: auto;
    background-color: aquamarine;
  }

  @container (min-width: 300px) {
    p {
      color: red;
      font-size: 26px ;
      font-weight: bold;
    }
  }
</style>
