---
import Layout from "@layouts/layout.astro";
import Accordion from '@components/Accordion.astro';
import Accordion2 from "@components/Accordion2.astro";

---


<Layout title="よくあるご質問">
  <main>
    <h3>よくあるご質問</h3>
    <div class="image">
      <img src="/Q&A.jpg" alt="" />
    </div>
    <!-- <Accordion    /> -->
    <Accordion2
    question = "男性でも施術を受けられますか？"
    answer1 = "老若男女、お子様も施術可能です。"
    answer2 = "お客様の症状に合わせた内容をご提案、ご提供させていただきます。"
    />
    <Accordion2
    question = "男性でも施術を受けられますか？"
    answer1 = "老若男女、お子様も施術可能です。"
    answer2 = "お客様の症状に合わせた内容をご提案、ご提供させていただきます。"
    />
    <Accordion2
    question = "男性でも施術を受けられますか？"
    answer1 = "老若男女、お子様も施術可能です。"
    answer2 = "お客様の症状に合わせた内容をご提案、ご提供させていただきます。"
    />
    <Accordion2
    question = "男性でも施術を受けられますか？"
    answer1 = "老若男女、お子様も施術可能です。"
    answer2 = "お客様の症状に合わせた内容をご提案、ご提供させていただきます。"
    />
    <Accordion2
    question = "男性でも施術を受けられますか？"
    answer1 = "老若男女、お子様も施術可能です。"
    answer2 = "お客様の症状に合わせた内容をご提案、ご提供させていただきます。"
    />

  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto 100px auto;
		padding-inline: 2rem;
    height: auto;
		max-width: 640px;
  }

  .image img{
		max-width: 100%;
    width: auto;
  }


</style>
