---
import { Image } from "astro:assets";
import QandA from "../assets/Q&A.webp"
import Layout from "@layouts/layout.astro";

// Reactでの実装
import ReactAccordion from "@components/ReactAccordion.jsx";

// JSでの実装 <ReactAccordion client:load>を<Accordion>に変えるだけ
// import Accordion from "@components/Accordion.astro";
---

<Layout pageTitle="よくあるご質問" description="">
  <main>
    <h3>よくあるご質問</h3>
    <div class="image">
      <Image src= { QandA } alt="Q&A" loading="eager" width=640 height=327 />
    </div>

    <ReactAccordion client:load>
      <span slot="question">男性でも施術を受けられますか？</span>
      <div slot="answer" class="answer">
        <p>
          <span class="bold highlight"> 老若男女、お子様も施術可能</span>です。<br
          />お客様の症状に合わせた内容をご提案、ご提供させていただきます。
        </p>
      </div>
    </ReactAccordion>
    <ReactAccordion client:load>
      <span slot="question">当日予約はできますか？</span>
      <div slot="answer" class="answer">
        <p>
          <span class="bold highlight">前日までの完全ご予約制</span>となっております。<br
          />
          当日のご予約も空き状況によりご案内可能です。 ご来店前にお電話にてご確認ください。<br
          />
          また、週末のご予約は前以て集中することもございます。
        <br><br>お早めのご予約をお勧め致します。</p>
      </div>
    </ReactAccordion>
    <ReactAccordion client:load>
      <span slot="question">２人同時に施術できますか？</span>
      <div slot="answer" class="answer">
        <p>
          大変申し訳ございませんが、施術者が一人ですので、<span class="bold highlight"
            >お一人様ずつ</span
          >の施術となります。
          <br><br>
          施術日が別であっても、<span class="bold highlight"
            >お連れ様でのご予約でお得な割引</span
          >がございますので是非お申し付けください。
        </p>
      </div>
    </ReactAccordion>
    <ReactAccordion client:load>
      <span slot="question">ワックスをつけたままでもいいですか？</span>
      <div slot="answer" class="answer">
        <p>
          ワックスがついた状態でも問題ございませんが、施術後は少しヘアスタイルも乱れてしまいます。
          <br><br>
          <span class="bold highlight">
            ハードワックスやハードスプレーは施術に影響します</span
          >ので、ご遠慮いただきますようご協力お願いいたします。
        </p>
      </div>
    </ReactAccordion>
    <ReactAccordion client:load>
      <span slot="question">キャッシュレス対応してますか？</span>
      <div slot="answer" class="answer">
        <p>
          誠に申し訳ございませんが<span class="bold highlight"
            >現金のみのお取り扱い</span
          >となります。<br />
          ご不便お掛けしますが宜しくお願いいたします。
        </p>
      </div>
    </ReactAccordion>
    <ReactAccordion client:load>
      <span slot="question">駐車場はありますか？</span>
      <div slot="answer" class="answer">
        <p>
          治療院前に<span class="bold highlight">３台分</span>ございます。<br />
          <span class="bold highlight">１３番、１５番、１６番</span>をご利用ください。
        </p>
      </div>
    </ReactAccordion>
    <ReactAccordion client:load>
      <span slot="question">ギフト券はありますか？</span>
      <div slot="answer" class="answer">
        <p>
          各種ご用意しております。<br />
          料金の明記はございませんので、大切な方への贈り物にいかがですか。<br />
          <span class="bold highlight">お支払いは現金のみ</span>となります。
        </p>
      </div>
    </ReactAccordion>
    <ReactAccordion client:load>
      <span slot="question">未成年も施術を受けられますか？</span>
      <div slot="answer" class="answer">
        <p>
          未成年の方も施術を受けていただけます。<br />
          是非お気軽にご相談ください。
          <br><br>
          施術の内容や注意事項をご説明しますので、保護者の方の送迎をお願いいたします。
          <br><br>
          施術を受けられるご本人・保護者の方・セラピストでカウンセリングを実施し、ご理解いただいた上で施術をおこないます。
          <br><br><span class="bold highlight">保護者の方に同意書のサインを頂戴します。</span>
          <br><br>また、未成年の方のお支払いは保護者の方にお願いします。
          <br><br>学生割引がございますので、学生証をお忘れなく♪</p>
      </div>
    </ReactAccordion>
    <ReactAccordion client:load>
      <span slot="question">「ヘッドスパと何が違うの？」</span>
      <div slot="answer" class="answer">
        <p>
          詳しくは<a href="/blog/what-is-different-from-190612">こちら</a>
        </p>
      </div>
    </ReactAccordion>
    <ReactAccordion client:load>
    <span slot="question">ギフト券はありますか？</span>
    <div slot="answer" class="answer">
      <p>
        各種ご用意しております。<br />
        料金の明記はございませんので、大切な方への贈り物にいかがですか。<br />
        <span class="bold highlight">お支払いは現金のみ</span>となります。
      </p>
    </div>
  </ReactAccordion>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px auto 100px auto;
    padding-inline: 2rem;
    height: auto;
    max-width: 640px;
  }

  h3 {
    padding-bottom: 40px;
  }

  .image img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }


</style>
