---
import Layout from "@layouts/layout.astro";

import Notice from "@components/Notice.astro"
import Taboo from "@components/Taboo.astro"
import Steps from "@components/Steps.astro"
---

<Layout pageTitle="初めてのお客様へ" description="">
  <main>
    <Notice />
    <Taboo />
    <Steps />
  </main>
</Layout>

<style>
  main {
    margin-top: 40px;
  }
</style>
