---
import Layout from "@layouts/layout.astro";
---

<Layout>
  <main>
    <section>
    <h2>ごあいさつ</h2>
    <div class="image">
      <img src="/thanks.jpg" alt="ありがとうございます！" />
    </div>
    <article>
    <p>「頭から体の不調を整える」 をモットーに。</p>
    <p>当店は、お子様から幅広い年齢層のお客様にお越しいただいております。</p>
    <p>
      老若男女、<br />
      すべての皆様のカラダもココロも<br />
      元気にできるお手伝いができれば光栄です。
    </p>
    <p>
      陽だまりのような<br />
      ほっと心落ち着ける場所となりますよう<br />
      ひとりひとりのお客様とのお時間を大切にいたします。<br />
    </p>
    <p>
      完全個室のプライベート空間で<br />
      日頃のお疲れをゆっくり癒してください。
    </p>
    <p>
      お身体のお疲れ<br />
      頭のお疲れ<br />
      それらが引き起こす心のお疲れも<br />
      当店でリセットして
    </p>
    <p>
      皆さまの毎日が<br />
      健康で、笑顔あふれるものになりますように。
    </p>
    <p>
      皆さまとの一期一会を心よりお待ちしております。
    </p>
    <p>
      健康なからだについての情報をブログに綴っています。
    </p>
    <p>
      ぜひ毎日の健康の参考になさってください。
    </p>
  </article>
  <div class="certificatiion">
    <p>
      日本ヘッドセラピスト認定協会<br>
      日本ヘッドセラピスト専門学院<br>
      1級ヘッドセラピスト<br>
      有能技能賞取得
    </p>
    <p>
      日本ヘッドセラピスト認定協会<br>
      腸セラピスト
    </p>
    <p>頭ほぐし専門店 reset</p>
  </div>
  <div class="clinic-image-outer">
    <div class="clinic-image">
      <img src="/clinic_image_3.jpg" alt="" width="533px" height="400px">
    </div>
    <div class="clinic-image">
      <img src="/clinic_image_4.jpg" alt="" width="533px" height="400px">
    </div>
  </div>
</section>
  </main>
</Layout>

<style>
  section {
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
    padding-block: 40px;
    padding-inline: 1.6rem;
  }

  .image {
    margin-block: 64px;
  }

  article {
    text-align: left;
  }

  p {
    line-height: 200%;
    letter-spacing: 2.7px;
    padding-bottom: 2.4rem;
  }

  .certificatiion {
    margin-top: 64px;
    text-align: right;
  }

  .clinic-image-outer {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 680px;
    height: auto;
    gap: 40px;
  }

  .clinic-image img {
    width: 100%;
    height: auto;
  }

  @media screen and ( 900px <= width ){
    .clinic-image-outer {
      flex-direction: row;
    }
    article {
    text-align: center;
  }
  }


</style>
