---
import Hero from '@components/Hero.astro';
import News from '@components/News.astro';
import Problems from '@components/Problems.astro';
import Layout from '@layouts/layout.astro';
import Efficacy from '@components/Efficacy.astro';
import Features from '@components/Features.astro';
import Access from '@components/Access.astro';
import BlogSummary from '@components/BlogSummary.astro'


---
<Layout title="HOME">
	<main>
		<Hero />
		<News />
		<Problems />
		<Efficacy />
		<Features />
		<Access />
		<BlogSummary />
	</main>
</Layout>

<style>
	main {
		height: auto;
		overscroll-behavior: contain;
	}

</style>

<script>
</script>
