---
import Hero from '@components/Hero.astro';
import Layout from '@layouts/layout.astro';

---
<Layout title="HOME">
	<main>
		<Hero />
	</main>
</Layout>

<style>
	main {
		height: auto;
		overscroll-behavior: contain;
	}

</style>

<script>
</script>
