---
import Hero from '@components/Hero.astro';
import Problems from '@components/Problems.astro';
import Layout from '@layouts/layout.astro';
import Container from "@components/Container.astro";
import Efficacy from '@components/Efficacy.astro';
import Features from '@components/Features.astro';
import Access from '@components/Access.astro';


---
<Layout title="HOME">
	<main>
		<Hero />
		<Problems />
		<Efficacy />
		<Features />
		<Access />
		<Container>
	</Container>

		</section>
	</main>
</Layout>

<style>
	main {
		height: auto;
		overscroll-behavior: contain;
	}

</style>

<script>
</script>
