---
import Layout from "@layouts/layout.astro";
---

<Layout pageTitle="プライバシーポリシー" description="">
  <main>
    <section>
      <h2>プライバシーポリシー</h2>
      <div class="item">
        <p>
          頭ほぐし専門店reset(以下、「当店」といいます。)
          は、個人情報保護の重要性について認識し、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）を遵守すると共に、以下のプライバシーポリシー（以下「本プライバシーポリシー」といいます。）に従い、適切な取扱い及び保護に努めます。
        </p>
      </div>

      <div class="item">
        <dl>
          <dt>１．個人情報の定義</dt>
          <dd>
            本プライバシーポリシーにおいて、個人情報とは、個人情報保護法第2条第1項により定義された個人情報、すなわち、生存する個人に関する情報であって、当該情報に含まれる氏名、生年月日その他の記述等により特定の個人を識別することができるもの（他の情報と容易に照合することができ、それにより特定の個人を識別することができることとなるものを含みます。）、もしくは個人識別符号が含まれる情報を意味するものとします。
          </dd>
        </dl>
      </div>

      <div class="item">
        <dl>
          <dt>２．個人情報の利用目的</dt>
          <dd>
            当店は、以下の目的で個人情報を利用致します。
          </dd>
        <p class="purpose">（お客様に関する個人情報）</p>

          <p class="text-indent">
            （１）
            当店のサービスの提供及びお客様による当院のサービスの利用のため
          </p>
          <p class="text-indent">
            （２） 当店のサービスに関するご案内、お問い合わせ等への対応のため
          </p>
          <p class="text-indent">（３） 当店の商品、サービス等のご案内のため</p>
          <p class="text-indent">
            （４）当店のサービスに関する規約、ポリシー等（以下「規約等」といいます。）に違反する行為に対する対応のため
          </p>
          <p class="text-indent">
            （５） 当店のサービスに関する規約等の変更などを通知するため
          </p>
          <p class="text-indent">
            （６） 当店のサービスの改善、新サービスの開発等に役立てるため
          </p>
          <p class="text-indent">
            （７）
            当店のサービスに関連して、個別を識別できない形式に加工した統計データを作成するため
          </p>
          <p class="text-indent">（８）各種アフターサービスの提供のため</p>
          <p class="text-indent">
            （９） その他、上記利用目的に付随する目的のため
          </p>
          <p class="purpose">（お取引先様に関する個人情報）</p>
          <p class="text-indent">
            （１）業務上必要なご連絡、契約の履行、商談等のため
          </p>
          <p class="text-indent">（２）取引先情報の管理のため</p>
        </dl>
      </div>
        <div class="item">
          <dl>
            <dt>３．個人情報利用目的の変更</dt>
            <dd>
              当店は、個人情報の利用目的を、関連性を有すると合理的に認められる範囲内において変更することがあり、変更した場合にはお客様に通知又は公表します。
            </dd>
          </dl>
        </div>

        <div class="item">
          <dl>
            <dt>４．個人情報利用の制限</dt>
            <dd>
              当店は、個人情報保護法その他の法令により許容される場合を除き、お客様の同意を得ず、利用目的の達成に必要な範囲を超えて個人情報を取り扱いません。
            </dd>
          </dl>
        </div>

        <div class="item">
          <dl>
            <dt>５．個人情報の適正な取得</dt>
            <dd>
              当店は、適正に個人情報を取得し、偽りその他不正の手段により取得しません。
            </dd>
          </dl>
        </div>

        <div class="item">
          <dl>
            <dt>６．第三者提供</dt>
            <dd>
              当店は、個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、あらかじめお客様の同意を得ないで、個人情報を第三者に提供しません。但し、次に掲げる場合は上記に定める第三者への提供には該当しません。
            </dd>
          </dl>
          <p class="text-indent">
            （１） 人の生命、身体又は財産の保護のために必要がある場合であっ
            て、お客様の同意を得ることが困難であるとき
          </p>
          <p class="text-indent">
            （２）
            公衆衛生の向上又は児童の健全な育成の推進のために特に必要がある場合であって、お客様の同意を得ることが困難であるとき
          </p>
          <p class="text-indent">
            （３）
            国の機関もしくは地方公共団体又はその委託を受けた者が法令の定める事務を遂行することに対して協力する必要がある場合であって、お客様の同意を得ることにより当該事務の遂行に支障を及ぼすおそれがあるとき
          </p>

          <p class="text-indent">
            （４）統計情報など個人を直接特定できない情報として加工した状態で提供する場合
          </p>
          <p class="text-indent">
            （５）
            当店が利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を委託することに伴って個人情報を提供する場合
          </p>
          <p class="text-indent">
            （６）
            合併その他の事由による事業の承継に伴って個人情報が提供される場合
          </p>
          <p class="text-indent">
            （７） 個人情報保護法の定めに基づき共同利用する場合
          </p>
        </div>

        <div class="item">
          <dl>
            <dt>７．個人情報の開示等の請求</dt>
            <dd>
              当店は、個人情報の照会・訂正・利用停止・消去・個人データの第三者提供記録の開示（以下「開示等」といいます。）のご要望があったときは、所定の手続でご本人様であることを確認のうえ、すみやかに対応します。本プライバシーポリシーに関してご質問がある場合や権利行使される場合は、<a href="/contact"> お問い合わせフォーム</a>からご連絡ください。
            </dd>
          </dl>
        </div>

        <div class="item">
          <dl>
            <dt>８．お問い合わせ</dt>
            <dd>
              開示等のお申出、ご意見、ご質問、苦情のお申出その他個人情報の取扱いに関するお問い合わせは、<a href="/contact"> お問い合わせフォーム</a>よりお問い合わせください。<br
              />
            </dd>
          </dl>
        </div>

        <div class="item">
          <dl>
            <dt>９．継続的改善</dt>
            <dd>
              当店は、個人情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必要に応じて、本プライバシーポリシーを変更することがあります。本プライバシーポリシーを変更する場合には、変更後のプライバシーポリシーの施行時期及び内容を当店ウェブサイト上での表示その他適切な方法により周知し、又は通知します。<br
              />
            </dd>
          </dl>
        </div>
        <div class="item">
          <dl>
            <dt>１０．アクセス解析ツールについて</dt>
            <dd>
              当サイトでは、Googleによるアクセス解析ツール「Googleアナリティクス」を使用しています。このGoogleアナリティクスはデータの収集のためにCookieを使用しています。このデータは匿名で収集されており、個人を特定するものではありません。<br>
              この機能はCookieを無効にすることで収集を拒否することが出来ますので、お使いのブラウザの設定をご確認ください。この規約に関しての詳細は<a href="https://marketingplatform.google.com/about/analytics/terms/jp/"> Googleアナリティクス利用規約</a>のページや<a href="https://policies.google.com/technologies/ads?hl=ja"> Googleポリシーと規約</a>のページをご覧ください。<br
              />
            </dd>
          </dl>
        </div>

      <style>
        section {
          text-align: center;
          max-width: 680px;
          margin: 0 auto;
          padding-block: 40px;
          padding-inline: 1.6rem;
        }
        .item {
          text-align: left;
          margin-bottom: 4rem;
        }

        article {
          text-align: left;
        }

        p {
          line-height: 150%;
          letter-spacing: 0;
        }

        h2 {
          margin-block-end: 6.4rem;
        }

        h3 {
          margin-block: 2rem 1rem;
          font-size: 2rem;
        }

        dl {
          /* padding-bottom: 2rem; */
        }

        dt,
        dd {
          font-size: 1.8rem;
          text-align: start;
        }

        dt {
          font-weight: bold;
          padding-bottom: 1rem;
        }

        dd {
          margin: 0 ;
        }
        .purpose {
          padding-top: 1rem;
          padding-bottom: 0;
        }
        .text-indent {
          padding-bottom: 0;
          padding-left: 5.6rem;
          text-indent: -5.6rem;
        }
      </style>
    </section>
  </main>
</Layout>
