---
import Layout from "@layouts/layout.astro";
---

<Layout title="プライバシーポリシー">
  <main>
    <section>
    <h2>プライバシーポリシー</h2>
    <article>
    <p>
      当店では、企業様や団体様への訪問施術やイベントを承っております。
    </p>
    <p>
      お気軽にお問い合わせください。
    </p>
    <p>
      従業員の方の福利厚生にもお役立ていただいております。
    </p>
    <p>
      ※個人宅への出張施術は行っておりません
    </p>
  </article>
</Layout>

<style>
  section {
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
    padding-block: 40px;
    padding-inline: 1.6rem;
  }
  article {
    text-align: left;
  }

  p {
    line-height: 200%;
    letter-spacing: 2.7px;
  }

  h2 {
    margin-block-end: 6.4rem;
  }
</style>
