---
import ContactAddress from "@components/ContactAddress.astro";
import Layout from "@layouts/layout.astro";

---

<Layout pageTitle="ご予約内容送信完了" description="">
  <main>
    <section>
    <h2>ご予約いただき<br>ありがとうございます！</h2>
    <article>
    <p>予約メールが送信されました。<br>
      確認のため、お客様宛に自動返信メールをお送りしております。</p>
    <p class="bold">ご予約内容をこちらで確認後、改めて予約確定のメールを送信いたします。</p>
    <p>もし、2営業日を過ぎても連絡がない場合は、正しく受信できなかった可能性がありますので、恐れ入りますが下記のメールアドレス、もしくはお電話にて再度のご連絡をお願いいたします。</p>
    </article>
    <ContactAddress />
    <a href="/">ホームに戻る</a>
</section>
  </main>
</Layout>

<style>
  section {
    text-align: center;
    max-width: 680px;
    margin: 0 auto;
    padding-block: 40px;
    padding-inline: 1.6rem;
  }

  h2 {
    margin-bottom: 4rem;
  }
  article {
    text-align: left;
  }

  p {
    line-height: 150%;
    padding-bottom: 2.4rem;
  }

  a {
    font-size: 1.8rem;
  }

</style>
