---
import { Image } from "astro:assets";
import stiff_neck from "../assets/stiff_neck.webp"
import Layout from "@layouts/layout.astro";
---

<Layout pageTitle="不定愁訴とは" description="">
  <main>
    <h1>～不定愁訴<span>（ふていしゅうそ）</span>とは～</h1>
    <div class="image">
      <Image src= { stiff_neck } alt="肩こり" loading="eager"/>
    </div>
    <article>
      <ul>
        <li>頭が重い(痛い)</li>
        <li>首や肩がこる</li>
        <li>イライラする</li>
        <li>疲労感が取れない</li>
        <li>寝つきが悪い</li>
        <li>何度も目が覚める</li>
        <li>なんとなく体調が悪い</li>
        <li>体がダルい</li>
        <li>足がむくむ</li>
        <li>手足が冷える</li>
        <li>のぼせる</li>
        <li>便秘や下痢を繰り返す</li>
        <li>息切れや動悸がする</li>
        <li>めまい</li>
        <li>生理不順</li>
      </ul>

      <p>
        などといった、<br />自覚症状の訴えがあるものの、<br
        />検査をしても原因となる病気は見つからない状態のこと。
      </p>
      <p>
        疲労やストレスなどによる<br />自律神経の乱れが原因とされています。
      </p>
    </article>
  </main>
</Layout>

<style>
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 40px auto 100px auto;
		padding-inline: 2rem;
    height: auto;
		max-width: 640px;
  }

  h1 {
    margin-bottom: 4rem;
  }

  span {
    font-size: 1.4rem;
  }

  ul {
    padding: 0;
    margin-bottom: 2.4rem;
  }

  li {
    font-size: 1.8rem;
    list-style: none;
  }

  li::before {
    content: "・";
  }

  .image img{
		max-width: 100%;
    height: auto;
    object-fit: contain;
    margin-bottom: 4rem;
  }

  article {
    line-height: 1.75;
  }
</style>
