---
import Hero from '@components/Hero.astro';
import NewsList from '@components/NewsList.astro';
import Problems from '@components/Problems.astro';
import Layout from '@layouts/layout.astro';
import Efficacy from '@components/Efficacy.astro';
import Features from '@components/Features.astro';
import Access from '@components/Access.astro';
import BlogSummary from '@components/BlogSummary.astro'


---
<Layout pageTitle="HOME"
  description="名古屋市 八事(昭和高校すぐ横)のヘッドマッサージ。整体法を取り入れた施術で自律神経を整え、体の不調や脳疲労、睡眠のお悩みをリセットしませんか。「頭から体を元気に」を目指します。腸セラピーもおこなっております。全コース老若男女OK!天白区 八事での営業を軸に、出張サービスも承ります。"
	>

	<main>
		<Hero />
		<NewsList />
		<Problems />
		<Efficacy />
		<Features />
		<Access />
		<BlogSummary />
	</main>
</Layout>

<style>
	main {
		height: auto;
		overscroll-behavior: contain;
	}

</style>
