---
import Layout from "@layouts/layout.astro";
import BlogPreview from "../components/BlogPreview.jsx";
import BackButton from "@components/BackButton.astro";
---

<Layout pageTitle="ブログプレビュー">
  <main>
    <section class="blog">
      <div class="container">
        <BlogPreview client:only="preact" />
        <!-- client:only　でサーバーサイドでレンダリングしない設定 -->
        <BackButton
          href = "/blogs/1",
          label = "一覧に戻る",
          width = "130px",
          fontSize = "1.8rem",
        />
      </div>
      <aside>
        <div class="blog-list">
          <h3>最近の投稿</h3>
        </div>
      </aside>
    </section>
  </main>
</Layout>

<style>
  .container {
    margin: 0 auto;
    height: auto;
    max-width: 640px;
    padding-inline: 1.6rem;
    padding-block: 4rem;
  }
</style>
