<button>
  <a href="#">
  <img src="/arrowhead-up-fill.svg" alt="" width="32px" height="32px">
  <p>トップへ戻る</p>
</a>
</button>

<style>
  html {
    scroll-behavior: smooth;
  }
  button {
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    padding: 0;
    margin-top: -2px;
  }
  a {
    text-decoration: none;
  }
  p {
    margin: 0;
    margin-top: -2px;
    color: var(--textWhite);
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 1rem;
    padding: 0;
  }

</style>
