---
const {title,icon,href,address} = Astro.props
---

<div class="byMail">
  <h3>{title}</h3>
  <!-- アイコンを入れる -->
  <img src={icon} width="24" height="24"/>
  <a href={href}>{address}</a>
</div>

<style>
  h3 {
    font-size: 2rem;
  }

  div {
    margin-block: 6.4rem;
    text-align: center;
  }

  a {
    margin-left: 8px;
    font-size: 1.8rem;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }

  img {
    vertical-align: -4px;
    margin-left: 8px;
  }

</style>
