---
const { time, originalPrice, discountPrice } = Astro.props;
---

<div class="course_discount">
  <div class="course"><p>{time}<span>分コース</span></p></div>
  <div class="original-price">
    <p><span><s>{originalPrice}円</s></span></p></div>
<div class="discount-price">
  <p class="d-price">{discountPrice}<span>円(税込)</span></p></div>
</div>

<style>
  p {
    padding: 0;
  }

  .course_discount {
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    width: 290px;
  }

  .course_discount p {
    font-size: 2rem;
    font-family: "Noto Sans JP", sans-serif;
  }

  .course_discount span {
    font-size: 1.2rem;
  }

  .time > span{
    font-size: 1.4rem;
  }

  .course {
    width: 90px;
    text-align: right;
  }

  .original-price {
    width: 70px;
    text-align: right;
  }

  .discount-price {
    width: 120px;
    text-align: right;
  }

  .d-price {
    color: var(--attention);
    font-weight: bold;
  }

  .d-price span {
    color: var(--textBlack);
    font-weight: normal;
  }
</style>
