---
import HamburgerLeft from "@components/HamburgerLeft.astro";
import HamburgerRight from "@components/HamburgerRight.astro";

import { Image } from "astro:assets";
import logo from "../assets/reset_logo.svg";
import logo2 from "../assets/reset_logo2.svg";
---

<header>
  <div class="spacer"></div>
  <div class="wrapper">
    <p class="location">
      名古屋市 昭和高校横 ヘッドマッサージサロン<span>
        頭ほぐし専門店 reset</span
      >
    </p>
    <div class="hamburger">
      <HamburgerLeft />
      <HamburgerRight />
    </div>
    <div class="logo2">
      <a href="/">
        <Image src={logo2} alt="ロゴ" width="81" height="48" loading="eager" />
      </a>
    </div>
    <div class="logo">
      <a href="/">
        <Image src={logo} alt="ロゴ" width="90" height="90" loading="eager"/>
      </a>
    </div>
    <div class="dot"></div>
    <a href="/contact" class="contact">ご予約<span>・お問い合わせ</span></a>
  </div>
</header>

<style>
  .spacer {
    height: 74px;
  }

  .wrapper {
    display: grid;
    grid-template-columns: 60px 81px repeat(2, 1fr) 80px;
    grid-template-rows: 14px 60px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    position: absolute;
    top: 0;
    position: fixed;
    z-index: 300;
    background-color: #f4f4f4c4;
  }

  .location {
    grid-row: 1 / 2;
    grid-column: 3 / 6;
    text-align: end;
    padding-right: 10px;
    font-size: 1rem;
    /* margin: 0; */
    color: var(--primary);
  }

  span {
    display: none;
  }

  .hamburger {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    width: 60px;
  }
  .logo2 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-block: auto;
  }
  .logo2 img {
    width: 81px;
    height: 48px;
  }
  .logo {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    /* margin-block: auto; */
    display: none;
  }
  .logo img {
    width: 90px;
    height: 90px;
  }
  .contact {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    line-height: 32px;
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--primary);
    font-weight: bold;
    margin-block: auto;
  }
  .dot {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
    margin-block: auto;
    text-align: center;
    width: 60px;
    height: 32px;
    background-image: url(/menu-background.png);
    background-repeat: no-repeat;
    background-size: 32px;
    background-position-x:33%;
  }

  @media screen and (768px <= width) {
    .spacer {
      height: 134px;
    }
    .wrapper {
      grid-template-columns: 0px 90px repeat(2, 1fr) 180px 90px 0px;
      grid-template-rows: 20px 90px 20px;
      grid-column-gap: 20px;
    }

    .location {
      grid-row: 1 / 2;
      grid-column: 4 / 7;
      font-size: 1.4rem;
      padding-right: 0px;
    }

    span {
      display: inline;
    }

    .hamburger {
      grid-row: 2 / 3;
      grid-column: 6 / 7;
      width: 90px;
    }
    .logo2 {
      display: none;
    }
    .logo {
      display: block;
      grid-row: 2 / 3;
      grid-column: 2 / 3;
    }
    .contact {
      grid-row: 2 / 3;
      grid-column: 5 / 6;
      font-size: 1.8rem;
    }
    .dot {
      grid-row: 2 / 3;
      grid-column: 5 / 6;
      width: 180px;
      height: 64px;
      background-size: 64px;
      background-position:center;
    }
  }

</style>
